// -----------------------------------------------------------------------------
// This file contains all styles related to the images component.
// -----------------------------------------------------------------------------

.image-with-author {
  position: absolute;
  bottom: 0.1em;
  right: 0.5em;
}
.image-with-author a {
  color: $color5 !important;
}
.image-with-author a:hover,
.image-with-author a:active {
  color: $color4 !important;
}
img {
  width: 100%;
  height: auto;
}
