@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}
.ck-content {
  height: 400px !important;
}
